body {
	font-family: $primary-font;
}

h1 {
	font-family: $secondary-font;
	text-transform: uppercase;
	font-weight: bold;
	font-style: italic;
	color: $dark-purple;
	font-size: 60px;
	margin: auto;
	text-align: center;
}

p {
	font-size: 18px;
	line-height: 30px;
}

#header {

	h1 {
		text-indent: -9999px;
		background: url('images/header-logo.png') no-repeat;
		font-family: $secondary-font;
		display: block;
		width: 525px;
		height: 318px;
		margin: auto;
	}

	p {
		color: #fff;
		width: 500px;
		margin: auto;
		margin-top: 30px;
		text-align: center;
	}

	background: url('images/header-bg.jpg') no-repeat center center fixed;
	background-size: cover;
	background-color: #000;
	padding-top: 150px;
	height: 675px;
}

#music, #about, #shows, #contact {
	padding: 50px;
	text-align: center;
}